altair
appdirs
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
debugpy
decorator
defusedxml
distlib
entrypoints
executing
fastjsonschema
filelock
Flask
streamlit_folium
folium
fonttools
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
pyee
Pygments
Pympler
pyparsing
pyppeteer
pyrsistent
python-dateutil
requests
rich
scikit-learn
scipy
seaborn
semver
six
sklearning
smmap
soupsieve
stack-data
streamlit
watchdog
wcwidth
webencodings
websockets
zipp
